# PRÁCTICA 1

Comentarios publicados oficialmente en el moodle:
1) Para dos instancias de distinto tamaño (por ejemplo, de 100 y 200 nodos), ejecutar el algoritmo constructivo del vecino más cercano varias veces partiendo de nodos diferentes, comparando, para cada instancia, los resultados obtenidos (tiempo y resultado). 

2) Para las instancias generadas en el apartado 1, y partiendo de los mismos nodos, aplicar el algoritmo implementado comparando de nuevo tiempos y resultados.

3) Para las instancias resueltas, comparar los resultados obtenidos en 1) y 2). ¿Se puede sacar alguna conclusión sobre la eficiencia de los algoritmos comparados?

4) A cada uno de las soluciones obtenidas en 1) y 2), aplicar el algoritmo de mejora 2-opt y analizar los resultados obtenidos.

In [28]:
import pandas as pd
import numpy as np
import time

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import matplotlib.pyplot as plt
from pylab import rcParams

plt.style.use('classic')
rcParams['figure.figsize'] = 16, 10

# Funciones transversales

In [29]:
def define_smaple_of_datapoints(size, cmin=-100, cmax=100):
    np.random.seed(27)

    # size: Número total de puntos en la instancia
    size, cmin, cmax = size, cmin, cmax # la coordenada mínima y máxima, es decir, el rango de valores que pueden los costes
    data = pd.DataFrame(dict(x=[0], y=[0]))

    # Generación de datos aleatorios
    random_data = pd.DataFrame(
        (np.random.random_sample(2 * (size - 1)) * (cmax - cmin) + cmin).reshape(-1, 2),
        columns=['x', 'y']
    )

    # Concatenar los DataFrames
    data = pd.concat([data, random_data], ignore_index=True)
    return data

# Apartado 1

In [ ]:
# Funciones necesarias
# Algoritmo del vecino más cercano
def nearest_neighbor(data, start_node):
    unserved = set(data.index)  # Nodos sin visitar
    current = start_node
    result_path = []

    while unserved:
        result_path.append(current)
        unserved.remove(current)
        if not unserved:
            break

        # Encontrar el nodo más cercano no visitado
        current = min(unserved, key=lambda node: np.sqrt((data.iloc[current].x - data.iloc[node].x) ** 2 +
                                                          (data.iloc[current].y - data.iloc[node].y) ** 2))

    result_path.append(start_node)  # Volver al nodo inicial
    return result_path

# Calculo de los costes de cada ruta
def estimate_cost(route, data):
    cost = 0
    for i in range(len(route) - 1):
        cost += np.sqrt((data.iloc[route[i]].x - data.iloc[route[i + 1]].x) ** 2 +
                        (data.iloc[route[i]].y - data.iloc[route[i + 1]].y) ** 2)
    return cost

# Evaluación de los costes y tiempos de ejecución
def evaluation_nearest_neighbor(data, different_nodes):

    selected_start_nodes = np.random.choice(len(data), size=different_nodes, replace=False)

    results_limited = []

    for start_node in selected_start_nodes:
        start_time = time.time()  # Iniciar temporizador
        route = nearest_neighbor(data, start_node)
        end_time = time.time()  # Finalizar temporizador
        
        cost = estimate_cost(route, data)
        exec_time = end_time - start_time  # Calcular tiempo de ejecución

        results_limited.append({
            'Start Node': start_node,
            'Total Distance': cost,
            'Execution Time (s)': exec_time,
            'Route': route
        })

    results_df_limited = pd.DataFrame(results_limited)
    return results_df_limited, selected_start_nodes

In [ ]:
# Evaluación del algoritmo más cercado para 100 nodos y 200 nodos desde 10 nodos diferentes de inicio

# Configuración de los datasets:
data_100 = define_smaple_of_datapoints(size=100)
data_200 = define_smaple_of_datapoints(size=200)

# Evaluamos el algoritmo para 100 y 200 nodos
print("Algoritmo más cercano para 100 nodos y 10 diferentes puntos de inicio:")
results_df_limited, selected_start_nodes = evaluation_nearest_neighbor(data_100, 10)
display(results_df_limited)
print("Puntos de inicio:", selected_start_nodes)

print("Algoritmo más cercano para 200 nodos y 10 diferentes puntos de inicio:")
results_df_limited, selected_start_nodes = evaluation_nearest_neighbor(data_200, 10)
display(results_df_limited)
print("Puntos de inicio:", selected_start_nodes)

Algoritmo más cercano para 100 nodos y 10 diferentes puntos de inicio:

,Start Node,Total Distance,Execution Time (s),Route
0,61,2080.874765,0.266192,"[61, 8, 11, 77, 62, 87, 67, 10, 40, 68, 20, 22..."
1,7,2001.199302,0.249478,"[7, 2, 66, 92, 37, 25, 46, 83, 86, 70, 23, 17,..."
2,41,1974.222353,0.249106,"[41, 3, 69, 27, 96, 1, 9, 26, 16, 60, 13, 85, ..."
3,68,2151.257513,0.244110,"[68, 20, 87, 62, 77, 11, 8, 40, 10, 67, 93, 63..."
4,49,1976.148577,0.287844,"[49, 28, 52, 84, 21, 90, 57, 95, 97, 53, 6, 98..."
5,75,2056.426762,0.243976,"[75, 27, 96, 1, 9, 26, 16, 60, 13, 85, 14, 45,..."
6,45,2034.933420,0.244500,"[45, 44, 8, 11, 77, 62, 87, 67, 10, 40, 68, 20..."
7,35,2074.877216,0.244363,"[35, 59, 34, 4, 71, 12, 48, 78, 64, 29, 56, 74..."
8,79,2152.933950,0.243812,"[79, 4, 34, 59, 35, 51, 52, 28, 84, 21, 90, 57..."
9,36,2140.435714,0.244530,"[36, 32, 71, 12, 48, 78, 64, 29, 56, 74, 88, 9..."

Puntos de inicio: [61  7 41 68 49 75 45 35 79 36]
Algoritmo más cercano para 200 nodos y 10 diferentes puntos de inicio:

,Start Node,Total Distance,Execution Time (s),Route
0,27,2841.410529,0.988389,"[27, 166, 118, 151, 167, 170, 37, 92, 149, 66,..."
1,47,2826.960888,0.980788,"[47, 173, 161, 183, 182, 42, 128, 16, 175, 26,..."
2,169,2635.404924,0.978999,"[169, 6, 98, 72, 103, 17, 23, 70, 86, 7, 2, 66..."
3,132,2534.919187,0.982345,"[132, 22, 100, 189, 108, 93, 63, 156, 10, 67, ..."
4,164,2512.472033,0.982260,"[164, 44, 180, 45, 119, 148, 73, 109, 15, 55, ..."
5,189,2578.908739,0.981755,"[189, 100, 68, 20, 130, 157, 163, 87, 62, 77, ..."
6,42,2816.721494,1.073098,"[42, 182, 183, 161, 173, 120, 47, 122, 60, 13,..."
7,25,2839.180464,1.053667,"[25, 165, 2, 7, 86, 70, 23, 17, 168, 83, 46, 1..."
8,134,2663.916807,0.988277,"[134, 5, 58, 50, 80, 33, 179, 65, 31, 138, 127..."
9,17,2826.309828,1.002898,"[17, 23, 70, 6, 169, 98, 72, 103, 168, 83, 46,..."

Puntos de inicio: [ 27  47 169 132 164 189  42  25 134  17]

# Apartado 2

# Apartado 3

# Apartado 4